.adminController {
    height: 95%;
    overflow: auto;
    font-size: 2vh;
}

.card {
    width: 50vh;
    padding-right: 0;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

.btn {
    height: 3vh;
    color: darkcyan;
    font-weight: bold;
    text-decoration: none;
}

.btn-wrap {
    margin-left: 30vh;
}

.box {
    display: inline-block;
    margin: 10px;
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    text-align: left;
}