.navBar {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  margin-left: 10vh;
}

.navBar>a {

  margin-top: 16vh;
  margin-left: 3vh;
  text-decoration: none;
  color: darkcyan;
}

.navBar>.active {
  color: darkcyan;
  font-weight: bold;
  text-decoration: underline;
}