* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: darkcyan;
    background: repeating-linear-gradient(45deg, lightblue, white );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

main {
    box-shadow: 5px 5px 10px;
}

/***********************************/
/* Below 576px (Lanscape Tablets) done */
/***********************************/
@media(max-width: 36em) {
    body {

        background: repeating-linear-gradient(45deg, lightblue, white );
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}
